---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Grid from "../../components/Grid.astro";

import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
    const blogEntries = await getCollection('projects');
    return blogEntries.map(entry => ({
        params: { slug: entry.data.url},
        props: { entry },
    }));
}


const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
    <div class="h-64 md:h-96 relative">
        <img class="w-full" src={entry.data.images[0].src} alt="">
        <div class="red-overlay absolute top-0 w-full h-full 0 flex flex-col justify-center items-center text-white">
            <p class="font-semibold text-md md:text-lg uppercase">{entry.data.type}</p>
            <h1 class="font-bold  text-2xl md:text-6xl">{entry.data.title}</h1>
        </div>
    </div>
    <div class="bg-slate-50 py-32">
        <div class="flex flex-col md:flex-row gap-20 max-w-screen-xl m-auto md:text-xl">
            <div class="grow">
                <p class="font-bold mb-4">Overview</p>
                <div class="">
                    <Content />
                </div>
            </div>
            <div class="">
                <p class="font-bold mb-4">Services</p>
                <ul >    
                    {entry.data.services.map((service) => (
                        <li>{service}</li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
    <Grid classes="f-grid max-w-screen-xl m-auto my-32">
        {entry.data.images.map((image) => (
            <img src={image.src} alt="">
        ))}
    </Grid>
</BaseLayout>

<style>
    img {
       object-fit: cover;
       width: 100%;
       height: 100%;
    }
    .red-overlay {
        border-width: 10px;
        border-style: solid;
        border-image-source: linear-gradient(
        180deg,
        hsl(0deg 0% 100% / 1) 0%,
        hsl(355deg 82% 75% /.9) 30%,
        hsl(355deg 82% 49% / .9) 97%
        );
        border-image-slice: fill 1;
    }
    .project-cover {
        background-image: ;
    }
</style>
